<footer>
  <div class="footer-copyright">
    <div class="container">
      <p>
        <a href="/recipes">All Recipes</a>
        <span class="right">© 2014 Copyright Nick Ortiz</span>
      </p>
    </div>
  </div>
</footer>
