<header>
  <nav>
    <div class="nav-wrapper">
      <a class="name" href="/recipes">Nick's Recipe Book</a>
      <ul id="nav-mobile" class="right">
        <% if(currentUser && currentUser.username === 'Nick') { %>
        <li><a href="/recipes/<%=recipe.id%>/delete">Delete This Recipe</a></li>
        <li><a href="/recipes/<%=recipe.id%>/edit">Edit This Recipe</a></li>
        <% } %> <% if(currentUser) { %>
        <li><a href="/recipes/new">Add New Recipe</a></li>
        <li><a href="/session/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/users/new">Sign up to add your own!</a></li>
        <li><a href="/session/new">Login</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
</header>
