<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Recipe Book</title>
  </head>
  <body>
    <h1>Welcome to the Recipe Book! Check out these great ideas:</h1>
    <div>
      <h4>This is where the recipes go!</h4>
      <ul>
        <% for(let i = 0; i < recipes.length; i++ ) { %>
        <li><a href="/recipes/<%=recipes[i].id%>"><%= recipes[i].name%></a></li>
        <% } %>
      </ul>
      <a href="/recipes/new"><h6>Why not add one of your own?</h6></a>
    </div>
  </body>
</html>
