<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Recipe Book</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Caveat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <% include ../partials/header.ejs %>
      <div class="container">
        <h4>What should we make today?</h4>
        <div class="main-display">
          <% recipes.forEach((recipe) => { %>
          <div class="col s4">
            <a href="/recipes/<%=recipe.id%>">
              <div class="card hoverable">
                <div class="card-image">
                  <img src="<%=recipe.img%>" />
                </div>
                <div class="card-content">
                  <%=recipe.name%>
                </div>
              </div>
            </a>
          </div>
          <% }) %>
        </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
